footer
    .container
        .col-xs-8.d-inline.v-align-top
            p.text--sm 195220, Санкт-Петербург, пр. Непокоренных д.17, кор. 4, БЦ "Берег", оф. 702а
            p.text--sm Веб-студия AlkoDesign: создание, продвижение сайтов, реклама в интернете.
            p.text--sm © 2000-2015 Все права принадлежат ООО "Алкодизайн"
        .col-xs-3.d-inline.v-align-top
            p
                span.text--primary +7 (812) 426-12-28
                br
                | Заказать интернет-услуги:
                br
                a(href="mailto:info@alkodesign.ru") info@alkodesign.ru
                br
                a(href="#") Карта сайта

