header
    .container.text--center
        .logo
            img(src="images/logo-top-medium.png", alt="Logo")
        form.search(action="", method="post", role="search")
            input.form-control(type="search", placeholder="поиск")
            input(type="submit", value="Искать")
        .phone.margbot80
            p +7 (812) 426-12-28
    .container.menu__slider.text--center.margbot80
        .menu__slider-inner
            #menu-p1.menu__slider-item.active
                .menu__slider-item-element.col.col-md-4.col-xs-12
                    a(href="#", style="background-image:url(images/scope/592269897.jpg)")
                        span Продвижение веб-сайтов
                .menu__slider-item-element.col.col-md-4.col-xs-12
                    a(href="#", style="background-image:url(images/scope/532586669.jpg)")
                        span Разработка веб-сайтов
                .menu__slider-item-element.col.col-md-4.col-xs-12
                    a(href="#", style="background-image:url(images/scope/876101684.jpg)")
                        span Контекстная реклама
                .menu__slider-item-element.col.col-md-4.col-xs-12
                    a(href="#", style="background-image:url(images/scope/293276977.jpg)")
                        span О компании
                .menu__slider-item-element.col.col-md-4.col-xs-12
                    a(href="#", style="background-image:url(images/scope/481637573.jpg)")
                        span Портфолио
                .menu__slider-item-element.col.col-md-4.col-xs-12
                    a(href="#", style="background-image:url(images/scope/876623535.jpg)")
                        span Новости
            #menu-p2.menu__slider-item
                .menu__slider-item-element.col.col-md-4.col-xs-12
                    a(href="#", style="background-image:url(images/scope/209780883.jpg)")
                        span Графический дизайн
                .menu__slider-item-element.col.col-md-4.col-xs-12
                    a(href="#", style="background-image:url(images/scope/409869384.jpg)")
                        span Интернет-маркетинг
                .menu__slider-item-element.col.col-md-4.col-xs-12
                    a(href="#", style="background-image:url(images/scope/378146362.jpg)")
                        span 1С-BITRIX
                .menu__slider-item-element.col.col-md-4.col-xs-12
                    a(href="#", style="background-image:url(images/scope/283581542.jpg)")
                        span Копирайтинг
                .menu__slider-item-element.col.col-md-4.col-xs-12
                    a(href="#", style="background-image:url(images/scope/705703735.jpg)")
                        span Он-лайн консультант
                .menu__slider-item-element.col.col-md-4.col-xs-12
                    a(href="#", style="background-image:url(images/scope/296832038.png)")
                        span Другие услуги
        a.menu__slider-nav.menu__prev.icon-left-open-big.disabled(href="#")
        a.menu__slider-nav.menu__next.icon-right-open-big(href="#")
    #top-bar
        .top__menu
            nav.navbar.navbar-default(role='navigation')
              .navbar-header
                button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-ex1-collapse')
                  span.sr-only Меню
                  span.icon-bars
                      span.icon-bar
                      span.icon-bar
                      span.icon-bar
                      span.icon-bar
                a.navbar-brand(href='#')
                    img(src="images/logo-top-medium.png", alt="Logo")
              .collapse.navbar-collapse.navbar-ex1-collapse
                ul.nav.navbar-nav
                  li.active
                    a(href='#') Продвижение сайтов
                    ul.subMenu.list--unstyled
                        li
                            a(href="#") Схема работ по продвижению сайта
                        li
                            a(href="#") Методы продвижения сайта
                        li
                            a(href="#") Оптимизация сайта
                  li
                    a(href='#') Создание сайтов
                    ul.subMenu.list--unstyled
                      li
                          a(href="#") Схема работ по продвижению сайта
                      li
                          a(href="#") Методы продвижения сайта
                      li
                          a(href="#") Оптимизация сайта
                  li
                    a(href='#') Интернет-реклама
                    ul.subMenu.list--unstyled
                      li
                          a(href="#") Схема работ по продвижению сайта
                      li
                          a(href="#") Методы продвижения сайта
                      li
                          a(href="#") Оптимизация сайта
                  li
                    a(href='#') Другие услуги
                  li
                    a(href='#') Цены
                  li
                    a(href='#') О компании
                  li
                    a(href='#') Контакты