AddDefaultCharset utf-8

#Header set Cache-Control "max-age=604800"

#php_value max_execution_time 60
php_value memory_limit 512M
php_value upload_max_filesize 16M

#ExpiresActive on
#ExpiresByType image/gif "modification plus 1 days" 
#ExpiresByType image/jpeg "modification plus 1 days"
#ExpiresByType image/png "modification plus 1 days"
#ExpiresByType text/css "modification plus 1 days"
#ExpiresByType application/javascript "modification plus 1 days"
#ExpiresByType application/x-shockwave-flash "modification plus 1 days"

RewriteEngine on

RewriteBase /
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_URI} !(.*)/$
#RewriteRule ^(.*[^/])$ $1/ [L,R=301]

#RewriteCond %{HTTP_HOST} !^$
#RewriteCond %{HTTP_HOST} !^www\. [NC]
#RewriteCond %{HTTPS} off
#RewriteRule ^ http://www.%{HTTP_HOST}%{REQUEST_URI} [R=301,L,NE]

RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /index\.php\ HTTP/ 
#RewriteRule ^index\.php$ http://www.%{HTTP_HOST}/ [R=301,L]
RewriteRule ^index\.php$ http://%{HTTP_HOST}/ [R=301,L]

RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /index\.html\ HTTP/ 
#RewriteRule ^index\.html$ http://www.%{HTTP_HOST}/ [R=301,L] 
RewriteRule ^index\.html$ http://%{HTTP_HOST}/ [R=301,L] 

RewriteCond %{REQUEST_URI}  ^/robots.txt.* 
RewriteRule . index.php?r=page/robots [L]

RewriteCond %{REQUEST_URI}  ^/sitemap.xml.* 
RewriteRule . index.php?r=mapsite/xml [L]

RewriteCond %{REQUEST_URI}  !^/assets/.*
RewriteCond %{REQUEST_URI}  !^/css/.*
RewriteCond %{REQUEST_URI}  !^/files/.*
RewriteCond %{REQUEST_URI}  !^/images/.*
RewriteCond %{REQUEST_URI}  !^/javascript/.*
RewriteCond %{REQUEST_URI}  !^/themes/.*
RewriteCond %{REQUEST_URI}  !^/phpthumb/.*

RewriteCond %{REQUEST_URI}  !^/index.php.*
RewriteCond %{REQUEST_URI}  !^/getimage.php.*
RewriteCond %{REQUEST_URI}  !^/favicon.ico.*
RewriteCond %{REQUEST_URI}  !^/robots.txt.*

RewriteCond %{REQUEST_URI}  !^/server/.*
RewriteCond %{REQUEST_URI}  !^/public/.*

RewriteCond %{REQUEST_URI}  !^/html/.*
RewriteCond %{REQUEST_URI}  !^/html2/.*
RewriteCond %{REQUEST_URI}  !^/dump.php*
RewriteCond %{REQUEST_URI}  !^/cron_emulator.php*
RewriteCond %{REQUEST_URI}  !^/requirements/.*
RewriteCond %{REQUEST_URI}  !^/PhpDocumentor/.*

RewriteCond %{REQUEST_URI}  !^/ExportYML.php*
RewriteCond %{REQUEST_URI}  !^/crossdomain.xml*
RewriteCond %{REQUEST_URI}  !^/current-date.php*
RewriteCond %{REQUEST_URI}  !^/phpinfo.php*

#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule . index.php

Order allow,deny
Allow from all